@model ShopOnline.Data.Models.Product
@section header{
    Thêm mới Sản phẩm
}

<form asp-action="AddProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <span class="text-success">@ViewBag.Error</span>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Giá bán</label>
            <div class="col-md-10">
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        @*@{var listLoaiSP = TheLoaiService.DanhSachLoaiSP().Select(x => x.TenLoai); }*@
        @*<div class="form-group">
            <label class="control-label col-md-2">Loại sản phẩm</label>
            <div class="col-md-10">
                <select asp-for="Loai" asp-items="@TheLoaiService.DanhSachLoaiSP().OrderBy(x=>x.TenLoai).Select(x=>new SelectListItem {Text=x.TenLoai,Value=x.Id.ToString() })"></select>
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh</label>
            <div class="col-md-10">
                <input class="form-control" type="file" name="pic" accept="image/*" />
                <span class="text-danger">@ViewBag.Error</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                <input asp-for="Desciption" class="form-control" />
                <span asp-validation-for="Desciption" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm sản phẩm" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a style="cursor:pointer" asp-controller="Product" asp-action="Index">Trở về trang danh sách</a>
</div>
<style>
    .form-control {
        width: 45%;
    }
</style>

